* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  min-height: 100%;
}

.whiteLink{
  color: #ffffff;
  text-decoration: none;
}

.Wrapper{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Left{
    flex: 1;
    display: flex;
    align-items: center;
}

.Center{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  position: relative;
  margin-bottom: 9rem;
}

body .container {
  max-width: 100%;
}

body a {
  font-family: 'Barlow', sans-serif;
  font-style: italic;
}

body p {
  font-family: 'Barlow', sans-serif;
  font-style: italic;
}

body table {
  font-family: 'Barlow', sans-serif;
}

body .productsImg {
  max-height: auto;
  max-width: 7rem;
}

body .card-title {
  padding-top: 1rem;
}

body .card {
  height: 100%;
  text-align: center;
  width: 18 rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  border: 0px;
  background-color: rgba(245, 245, 245, 0);
}

body h1, body h2, body h3, body h4, body h5 {
  font-family: 'Comfortaa', cursive;
}

body .card-img-top{
  max-width: 18rem;
}

body .card-title {
  font-variant-caps: small-caps;
  font-size: 1.5rem;
}

body .card-text {
  font-size: 0.9rem;
  font-style: italic;
}

body .price {
  color: gray;
}

body .pTitle {
  color: #605443;
  font-weight: bold;
  font-size: 2.5rem;
}

body .btn {
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
}

body .btn-primary, body .btn-info {
  background-color: #E8A87C;
  border: #031720;
}

body .btn-danger {
  background-color: #6c757d;
  border: #6c757d;
}

header {
  width: 100%;
  background-color: #ffffff;
}

header .padding-1 {
  padding-top: 0.5rem;
}

header .verticalCenter {
  vertical-align: middle;
}

header .imgHeader {
  max-height: 2.5rem;
  width: auto;
}

header .logo {
  max-height: 6rem;
  width: auto;
}

header .centerAlign {
  justify-content: center;
  align-self: center;
}

header .alignEnd {
  justify-content: end;
}

header .col-4 {
  margin-top: 1rem;
}

header .nav-link {
  color: #000000;
}

header .headerIcons {
  fill: #004466;
}

header .float-start {
  padding-left: inherit;
}

.dropshadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.modal-content {
  background-color: white;
  color: black;
}

.modal-content th, .modal-content td {
  color: black;
}

/* Main and Body */
main {
  margin: 1rem 5rem 1rem 5rem;
}

.prodImg{
  height: 13rem;
  width: auto;
}

.prodCard{
  max-width: 15rem;
}

.buttonSize{
  max-height: 1.8rem;
}

/*Footer*/

footer {
  width: 100%;
  background-color: #DEB678;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2rem;
  text-align: center;
}


footer .imgSocial {
  max-height: 0.8rem;
  padding: 0 0.2rem 0 0.2rem;
}

footer .logo {
  max-height: 3rem;
  width: auto;
}

footer .socialmedia {
  list-style: none;
  display: inline-flex;
  padding-left: 0%;
}

footer .socialmedia ul#navigation {
  padding-left: 0;
  text-align: center;
  list-style-type: none;
}

footer .socialmedia a {
  color: #004466;
  padding-left: 0.8rem;
}

footer #links {
  list-style: none;
}

footer #links a {
  color: #004466;
  text-decoration: none;
}

footer .card-body {
  width: 12rem;
}

footer .card-text {
  font-size: 0.8rem;
}

footer .card {
  border: 0px;
}

#stickFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  text-align: center;
}

@media only screen and (max-width: 576px) {
  .newsletter {
    display: none;
  }
  body .stepsText {
    font-size: 1rem;
  }
}
